<!DOCTYPE html>
<html>
  <head>
    <title>Lightsabers JS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/socket.io/socket.io.js" charset="utf-8"></script>
  </head>
  <body>
    <script type="text/javascript" language="javascript" charset="utf-8">
      var sid = "<%= sid %>";
    </script>
    <script type="text/javascript" src="/javascripts/client.js" charset="utf-8"></script>

    <%- sid %>
  </body>
</html>
