<!DOCTYPE html>
<html>
  <head>
    <title>Lightsabers JS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script type="text/javascript" src="/javascripts/lightsaber.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>Lightsabers</h1>
    <h3>Escaneie esse QRCode com seu iPhone/iPad</h3>
    <%- imageTag %>

    <a href="/client/<%= sid %>">Client</a>
  </body>
</html>
