<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lightsabers</h1>
    <h3>Escaneie esse QRCode com seu iPhone/iPad</h3>
    <%- imageTag %>
  </body>
</html>
